@media (max-width: 768px) {
  .container-first {
    width: 704px;
    margin: 0 auto;
    padding-block-start: 24px;

  }

  .text-design {
    max-width: 538px;
    max-height: 146px;

    & h1 {
      height: 146px;
      width: 538px;
      text-align: center;
    }

    & p {
      width: 596px;
    }
  }

  .graphic-design {
    min-height: 566px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;

    & .pic1 {
      grid-area: 1/1/3/3;
    }

    & .pic2 {
      grid-area: 1/3/2/3;

    }

    & .pic3 {
      grid-area: 1/4/2/5;
    }

    & .pic4 {
      grid-area: 3/1/4/3;

      & img {
        height: 55px;
      }
    }

    & .pic5 {
      grid-area: 2/3/3/5;
    }

    & .pic6 {
      grid-area: 3/3/4/5;
    }
  }

  .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: inline 32px;
    align-items: center;
    gap: 24px;
  }

  .text-teil{
    display: flex;
    align-items: center;
    margin-inline: 32px;
    flex-direction: column;
    text-align: center;   
    gap: 16px;
    width: 100%;
   
  }

  .info-img {
    height: 300px;
    width: 300px;
  }

  .last-page{
    display: none;
  }

}