 @media (max-width: 768px) {
   body {
    padding-inline: 2rem;
  
  }

  .container-first {
    margin-block-start: 2rem;
  }

   .design-solution {
    margin-block: 64px;
  }

  h1{
    width:538px;
    margin-inline: auto;
  }

  /*************** Services Section ***************/

  .services-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    /* min-block-size: 11.375rem; */
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--radius-8);
    padding: 1.25rem;
  }

  .graphic {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .ui {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .apps {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .photography {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .illustrations {
    grid-column: 3/5;
    grid-row: 2/3;
  }

  .motion {
    grid-column: 3/5;
    grid-row: 3/4;
  }

   /*************** Second Section ***************/
  .info {
    
    margin-block: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .info-img {
    height: 300px;
    width: 300px;
  }

  .text-teil {
    text-align: center;
  }

  /*************** myWork-page Section ***************/
  .myWork-page {

    margin-block-end: 40px;
  }

  .myWork-page .slider-section {
    gap: 32px;
    margin-block: 48px;

  }

  .last-page{
    display: none;
  }

} 


@media (max-width: 576px) {

  body {
    padding-inline: 1rem;
  }

  .container-first {
    margin-block-start: 1.5rem;
  }

  .nav .nav-img {
    height: 48px;
    width: 48px;
    margin-block: auto;
  }

  .nav .nav-btn {

    padding: 12px 24px 16px 24px;
    margin-block: auto;
  }


  .design-solution {
    margin-block: 40px;
  }

  .h1-metin {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    width: 100%;
  }

/*************** Services Section ***************/

  .services-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    /* min-block-size: 11.375rem; */
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--radius-8);
    padding: 1.25rem;
  }

  .graphic {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .ui {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .apps {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .photography {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .illustrations {
    grid-column: 1/3;
    grid-row: 5/6;
  }

  .motion {
    grid-column: 1/3;
    grid-row: 6/7;
  }

  /*************** Second Section ***************/
  .info {
    margin-block: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  .info-img {
    height: 300px;
    width: 300px;
  }

  .text-teil {
    width: 100%;
    text-align: center;
  }

  .text-teil h1{
    width: 100%;
  }

  .text-teil .text-lang {
    width: 100%;

    margin-block: 1.5rem;

  }


  /*************** myWork-page Section ***************/
  .myWork-page {

    margin-block-end: 64px;
  }

  .myWork-page .slider-section {
    gap: 20px;
    margin-block: 40px;

  }

  .myWork-page .slider-section img {
    max-width: 270px;
    height: 180px;
    /*height normalde 360*/
  }

  .btn-left,
  .btn-right {
    height: 48px;
    width: 48px;
  }

  /*************** Last Section ***************/


  .last-text {
    text-align: center;

  }

  .black-section {
    
    flex-direction: column;
    padding-block: 40px;
    padding-inline: 1rem;
    gap: 40px;
    margin-bottom: 32px;
  }

  .footer {
    margin-block-end: 24px;
  }




}