:root{
    --clr-neutral-900 : #030303;
    --clr-neutral-400 : #6A6662;
    --clr-neutral-200 : #FFF7F0;
    --clr-neutral-0 : #FFFFFF;
    --clr-light-red-500 : #E16B5B;
    --clr-galactic-blue-500 :#755CDE;
    --clr-summer-yellow-500 : #F6A560;
    --clr-pink-500 : #F39E9E;
    --clr-cyan-500 : #61C4B7;
    --clr-dark-purple-500 : #552049;

    /* Radius Scale */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px; /* Pill / full rounded */

  /* Spacing */
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
}

body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: var(--clr-neutral-200);
}

.text-preset-1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

.text-present-1-mobile {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-5 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0px;
}

.container-first{
    display:flex;
    justify-content:center;
}

.text-design{
    width: 752px;
    height:149px;
    text-align: center;

    & h1{
        color: var(--clr-neutral-900);
        margin-block-end: 20px;
    }

    & p{
        color: var(--clr-neutral-400);
    }
}
