:root{
    --clr-neutral-900 : #030303;
    --clr-neutral-400 : #6A6662;
    --clr-neutral-200 : #FFF7F0;
    --clr-neutral-0 : #FFFFFF;
    --clr-light-red-500 : #E16B5B;
    --clr-galactic-blue-500 :#755CDE;
    --clr-summer-yellow-500 : #F6A560;
    --clr-pink-500 : #F39E9E;
    --clr-cyan-500 : #61C4B7;
    --clr-dark-purple-500 : #552049;

    /* Radius Scale */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px; /* Pill / full rounded */

  /* Spacing */
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
}

body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: var(--clr-neutral-200);
}

.text-preset-1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

.text-present-1-mobile {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-5 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0px;
}

/*************** First Section ***************/

.container-first{
    width : 1100px;
    height : 737px;
    margin: 0 auto;
    padding-block-start: 32px
}

.nav{
  height: 64px;
  width : 100%;
  display : flex;
  justify-content : space-between;
  align-items : start;

  & .nav-btn{
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-0);
    border: none;
    border-radius: 50px;
    height: 90%;;
    max-height: 100%;
    padding-inline:50px;
    margin-block: 4px;
  }
}

.design-solution{

  height: 432px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-design{
    max-width: 752px;
    max-height:149px;
  

    & h1{
        color: var(--clr-neutral-900);
        height: 73px;
        width: 100%;
    }

    & p{
        color: var(--clr-neutral-400);
        height: 56px;
        width: 568px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        text-align: center;
        margin-inline: auto;
        font-size: 18px;
    }
}

.graphic-design{
  height: 364px;
  max-height: 364px;
  display: grid;
  grid-template-columns :repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap:24px;
  color: var(--clr-neutral-0);

  & .pic1{
    grid-area : 1/1/3/3;
    background-color: var(--clr-galactic-blue-500);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 24px;
    border-radius: var(--radius-8); 

    & img{
      align-self:flex-start;
      width: auto;
      height: auto;
    }

    & p{
      align-self:flex-end;
      margin: 0;
      font-family: 'Plus Jakarta Sans', sans-serif;
    }
  }

  & .pic2{
    grid-area : 1/3/2/4;
    background-color: var(--clr-summer-yellow-500);
    border-radius: var(--radius-8); 
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
   & img{
    align-self: flex-start;
    width: auto;
    height: auto;
   
    }

    & p{
      align-self: flex-end;
      margin: 0;
      font-family: 'Plus Jakarta Sans', sans-serif;
    }
  }

  & .pic3{
    grid-area: 1/4/2/5;
    background-color: var(--clr-pink-500);
    border-radius: var(--radius-8); 
    display: flex;
    justify-content: space-between;
    padding: 20px;

    & img{
      align-self: flex-start;
      width: auto;
      height: auto;
    }

    & p{
      align-self: flex-end;
      margin: 0;
      font-family: 'Plus Jakarta Sans', sans-serif;
    }
  }

  & .pic4{
    grid-area: 1/5/2/7;
    background-color: var(--clr-cyan-500);
    border-radius: var(--radius-8);
    display: flex;
    justify-content: space-between;
    padding: 20px;

    & img{
      align-items: flex-start;
      width: auto;
      height: 64px;
    }

    & p{
      align-self: flex-end;
      margin: 0;
      font-family: 'Plus Jakarta Sans', sans-serif;
    }
  }

  & .pic5{
    grid-area :2/3/2/5;
    background-color:var(--clr-light-red-500);
    border-radius: var(--radius-8); 
    display: flex;
    justify-content: space-between;
    padding: 20px;

   & img{
    align-self: flex-start;
    width: auto;    
    height: auto;
    }

    & p{
      align-self: flex-end;
      margin: 0;  
      font-family: 'Plus Jakarta Sans', sans-serif;
    }
  }

  & .pic6{
    grid-area: 2/5/2/7;
    background-color: var(--clr-dark-purple-500);
    border-radius: var(--radius-8); 
    display: flex;
    justify-content: space-between;
    padding: 20px;

    & img{
      align-self: flex-start;
      width: auto;
      height: auto;
    }

    & p{
      align-self: flex-end;
      margin: 0;    
      font-family: 'Plus Jakarta Sans', sans-serif;
    }

  }
}

@media screen {
  
}
