:root {
  --clr-neutral-900: #030303;
  --clr-neutral-400: #6A6662;
  --clr-neutral-200: #FFF7F0;
  --clr-neutral-0: #FFFFFF;
  --clr-light-red-500: #E16B5B;
  --clr-galactic-blue-500: #755CDE;
  --clr-summer-yellow-500: #F6A560;
  --clr-pink-500: #F39E9E;
  --clr-cyan-500: #61C4B7;
  --clr-dark-purple-500: #552049;

  /* Radius Scale */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
  /* Pill / full rounded */

  /* Spacing */
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--clr-neutral-200);
}

h1,
.text-preset-1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-5 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0px;
}

/*************** First Section ***************/

.container-first {
  max-width: 1110px;
  margin: 32px auto 0 auto;
}

.nav {
  max-height: 64px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;


  & .nav-btn {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-0);
    border: none;
    border-radius: 50px;
    padding: 16px 48px;
    margin-block: auto;
  }
}

.design-solution {
  max-width: 752px;
  margin-inline: auto;
  margin-block: 80px;

  & h1 {
    color: var(--clr-neutral-900);
    text-align: center;
  }

  & p {
    color: var(--clr-neutral-400);
    max-width: 568px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    margin-inline: auto;
    font-size: 18px;
    letter-spacing: var(--spacing-0);
    line-height: 28px;
  }
}

.services-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  color: var(--clr-neutral-0);
  /* min-height: 364px; */
  max-width: 69.375rem;
  min-block-size: 22.75rem;
  /* margin-inline: auto; */
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--radius-8);
  padding: 1.25rem;
}

.services-section img {
  margin-left: auto;
}

.services-section p {
  text-align: start;
  margin-bottom: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.graphic {
  grid-area: 1/1/3/3;
  background-color: var(--clr-galactic-blue-500);
}

.ui {
  grid-area: 1/3/2/4;
  background-color: var(--clr-summer-yellow-500);
}

.apps {
  grid-area: 1/4/2/5;
  background-color: var(--clr-pink-500);
}

.photography {
  grid-area: 1/5/2/7;
  background-color: var(--clr-cyan-500);
}

.illustrations {
  grid-area: 2/3/2/5;
  background-color: var(--clr-light-red-500);

}

.motion {
  grid-area: 2/5/2/7;
  background-color: var(--clr-dark-purple-500);


}

/*************** Second Section ***************/

.info {
  max-width:1110px;
  display: flex;
  justify-content: space-between;
  gap:auto;
  margin-block:120px;
  margin-inline:auto;
}

.info-img {
  height: 445px;
  width: 445px;
}

.text-teil {
  width: 540px;
  margin-block: auto;
}
.text-lang {
    color: var(--clr-neutral-400);
    margin-block: 2rem;
  }


.info-btn {
  background-color: var(--clr-light-red-500);
  border: none;
  border-radius: 50px;
  height: 56px;
  padding:16px 48px;
  color: var(--clr-neutral-0);
}






/*************** myWork-page Section ***************/
.myWork-page {
  max-width:1237px;
  margin-inline: auto;
  margin-block-end:120px;
}
 .myWork-page h1{
  text-align: center;
  margin-bottom:0;
 }
  
.myWork-page .slider-section {
  display: flex;
  gap: 32px;
  margin-block: 32px;

}

.myWork-page .slider-section img {
  border-radius: var(--radius-8);
  max-width: 540px;
  height:250px;/*height normalde 360*/
}

.btn-section{
  display:flex;
  justify-content: center;
  gap: 16px;
}

.btn-left,
.btn-right {
  
  background-color: var(--clr-neutral-900);
  border: none;
  border-radius: 50px;
  height: 64px;
  width: 64px;
  color: var(--clr-neutral-0);

}




/*************** Last Section ***************/

.last-page {
  max-width: 1100px;
  margin: 0 auto;
  color: var(--clr-neutral-0);
}

.last-text {
  max-width: 540px;
}

.black-section {
  min-height: 299px;
  background-color: var(--clr-neutral-900);
  border-radius: var(--radius-12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 80px;
  padding-inline: 64px;
  gap: auto;
  margin-bottom: 48px;
}

.footer{
  margin-block-end:64px;
}